# Compiled object files
*.o
*.obj

# Compiled static libraries
*.lib
*.a

# Compiled dynamic libraries / shared objects
*.dll
*.so
*.dylib

# Executables
*.exe
*.out
*.app

# Debug / Release folders
Debug/
Release/
build/

# IDE files
.vscode/
.idea/
*.code-workspace

# GitHub Copilot temporary files (VS Code)
.copilot.* 

# MacOS specific
.DS_Store

# Windows specific
Thumbs.db
